In [12]:
import pandas as pd

fundamental_files = ["./nyse/Fundamentals with Ratios FINAL/fundementals_with_ratios_testing_set.csv", "./nyse/Fundamentals with Ratios FINAL/fundementals_with_ratios_training_set.csv", "./nyse/Fundamentals with Ratios FINAL/fundementals_with_ratios_validation_set.csv"]
prices = pd.read_csv('./nyse/prices-split-adjusted.csv')
prices.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [13]:
raw = pd.read_csv(fundamental_files[0])
raw.head()

,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,...,Total Assets,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,Earnings Per Share,Estimated Shares Outstanding
0,AAL,2014-12-31,4668000000,-160000000,-150000000,143,-5311000000,15135000000,60,1768000000,...,4.322500e+10,1.175000e+10,13404000000,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.000000e+00,4.02,7.169154e+08
1,AAPL,2014-09-27,48649000000,-6452000000,980000000,35,-9571000000,0,40,13844000000,...,2.320000e+11,6.853100e+10,63448000000,1.120000e+11,1.200000e+11,2.320000e+11,1.830000e+11,0.000000e+00,6.49,6.087827e+09
2,ABC,2014-09-30,17250160000,-938286000,-28594000,14,-264457000,2749185000,10,1808513000,...,2.153218e+10,1.680020e+10,17250160000,1.956899e+09,1.957528e+10,2.153218e+10,1.200000e+11,-2.313380e+09,1.22,2.247787e+08
3,ABT,2014-12-31,5350000000,-195000000,69000000,11,-1077000000,0,43,4063000000,...,4.120700e+10,1.355600e+10,10467000000,2.152600e+10,1.968100e+10,4.120700e+10,2.024700e+10,-8.678000e+09,1.50,1.522667e+09
4,ADBE,2014-11-28,776163000,7928000,8423000,4,-148332000,3778495000,150,1117400000,...,1.078583e+10,4.602328e+09,2494435000,6.775905e+09,4.009924e+09,1.078583e+10,4.147065e+09,-3.918851e+09,0.54,4.970278e+08

In [20]:
raw.loc[raw['Ticker Symbol']=='AAPL']

,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,Cash and Cash Equivalents,...,Total Assets,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,Earnings Per Share,Estimated Shares Outstanding
1,AAPL,2014-09-27,48649000000,-6452000000,980000000,35,-9571000000,0,40,13844000000,...,2.320000e+11,6.853100e+10,63448000000,1.120000e+11,1.200000e+11,2.320000e+11,1.830000e+11,0.0,6.49,6.087827e+09

In [25]:
a = prices.loc[prices['symbol']=='AAPL']
a = a.loc[a['date']<'2014-09-27']
a[]

KeyError: -1